<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
  <appSettings>
    <!-- THIS SAMPLE CONFIG FILE IS TO BE USED AS A TEMPLATE FOR THE 'MultiChannelClientProxy' NUGET PACKAGE-->
    
    <!--If this Environment AppSetting config variable is in the root application\Web config AND HER then this Environment AppSetting config will take priority over the root config.
        This enables the flexibility to point certain modules to diffrent environmnets
    -->
    <!-- Environments (case sensititve) : LOCAL, DEV, SIT, UAT, PROD, DR-->
    <add key="Environment" value="DEV" />

     <!-- Search and replace SERVICENAME with your service name eg 'GeneratorService' across the whole document-->
    <add key="LOCALSERVICENAMEURL"  value="LOCAL_REST_URL_HERE"/>
    <add key="DEVSERVICENAMEURL"    value="DEV___REST_URL_HERE"/>
    <add key="SITSERVICENAMEURL"    value="SIT___REST_URL_HERE"/>
    <add key="UATSERVICENAMEURL"    value="UAT___REST_URL_HERE"/>
    <add key="PRODSERVICENAMEURL"   value="PROD__REST_URL_HERE"/>
    <add key="DRSERVICENAMEURL"     value="DR____REST_URL_HERE"/>
  </appSettings>
  <system.serviceModel>
    <diagnostics performanceCounters="Default">
      <messageLogging logEntireMessage="true" logKnownPii="true" logMalformedMessages="true" logMessagesAtServiceLevel="true" logMessagesAtTransportLevel="true" />
      <endToEndTracing propagateActivity="true" activityTracing="true" messageFlowTracing="true" />
    </diagnostics>
    <bindings>
      <basicHttpsBinding>
        <binding name="HTTPSSERVICENAMEDataPower" maxReceivedMessageSize="65536000">
          <security mode="Transport">
            <transport clientCredentialType="None" />
          </security>
        </binding>
        <binding name="HTTPSSERVICENAMESoap12" maxReceivedMessageSize="65536000" messageEncoding="Mtom">
          <security mode="Transport">
            <transport clientCredentialType="None" />
          </security>
        </binding>
      </basicHttpsBinding>
      <basicHttpBinding>
        <binding name="HTTPSERVICENAMEDataPower" closeTimeout="00:30:00" openTimeout="00:30:00" receiveTimeout="00:30:00" sendTimeout="00:30:00" maxReceivedMessageSize="65536000" messageEncoding="Text">
          <security mode="None">
            <transport clientCredentialType="None"/>
          </security>
        </binding>
        <binding name="HTTPSERVICENAMESoap12" closeTimeout="00:30:00" openTimeout="00:30:00" receiveTimeout="00:30:00" sendTimeout="00:30:00" maxReceivedMessageSize="65536000" messageEncoding="Mtom">
          <security mode="None">
            <transport clientCredentialType="None"/>
          </security>
        </binding>
      </basicHttpBinding>
      <mexHttpsBinding>
        <binding name="HTTPSERVICENAMEMex"/>
      </mexHttpsBinding>
    </bindings>
    <client>
      <endpoint address="LOCAL_SOAP11_URL_HERE" binding="basicHttpBinding" bindingConfiguration="HTTPSERVICENAMEDataPower"    contract="SOAPProxy_Interface_here" name="SERVICENAMESOAP11LOCAL" />
      <endpoint address="DEV___SOAP11_URL_HERE" binding="basicHttpsBinding" bindingConfiguration="HTTPSSERVICENAMEDataPower"  contract="SOAPProxy_Interface_here" name="SERVICENAMESOAP11DEV" />
      <endpoint address="SIT___SOAP11_URL_HERE" binding="basicHttpsBinding" bindingConfiguration="HTTPSSERVICENAMEDataPower"  contract="SOAPProxy_Interface_here" name="SERVICENAMESOAP11SIT" />
      <endpoint address="UAT___SOAP11_URL_HERE" binding="basicHttpsBinding" bindingConfiguration="HTTPSSERVICENAMEDataPower"  contract="SOAPProxy_Interface_here" name="SERVICENAMESOAP11UAT" />
      <endpoint address="PROD__SOAP11_URL_HERE" binding="basicHttpsBinding" bindingConfiguration="HTTPSSERVICENAMEDataPower"  contract="SOAPProxy_Interface_here" name="SERVICENAMESOAP11PROD" />
      <endpoint address="DR____SOAP11_URL_HERE" binding="basicHttpsBinding" bindingConfiguration="HTTPSSERVICENAMEDataPower"  contract="SOAPProxy_Interface_here" name="SERVICENAMESOAP11DR" />

      <endpoint address="LOCAL_SOAP11_URL_HERE" binding="basicHttpBinding" bindingConfiguration="HTTPSERVICENAMESoap12"       contract="SOAPProxy_Interface_here" name="SERVICENAMESOAP12LOCAL" />
      <endpoint address="DEV___SOAP11_URL_HERE" binding="basicHttpsBinding" bindingConfiguration="HTTPSSERVICENAMESoap12"     contract="SOAPProxy_Interface_here" name="SERVICENAMESOAP12DEV" />
      <endpoint address="SIT___SOAP11_URL_HERE" binding="basicHttpsBinding" bindingConfiguration="HTTPSSERVICENAMESoap12"     contract="SOAPProxy_Interface_here" name="SERVICENAMESOAP12SIT" />
      <endpoint address="UAT___SOAP11_URL_HERE" binding="basicHttpsBinding" bindingConfiguration="HTTPSSERVICENAMESoap12"     contract="SOAPProxy_Interface_here" name="SERVICENAMESOAP12UAT" />
      <endpoint address="PROD__SOAP11_URL_HERE" binding="basicHttpsBinding" bindingConfiguration="HTTPSSERVICENAMESoap12"     contract="SOAPProxy_Interface_here" name="SERVICENAMESOAP12PROD" />
      <endpoint address="DR____SOAP11_URL_HERE" binding="basicHttpsBinding" bindingConfiguration="HTTPSSERVICENAMESoap12"     contract="SOAPProxy_Interface_here" name="SERVICENAMESOAP12DR" />
    </client>
  </system.serviceModel>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.4.1" newVersion="4.0.4.1" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Numerics.Vectors" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.1.4.0" newVersion="4.1.4.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Buffers" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.3.0" newVersion="4.0.3.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>